
.movie_box {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 10px;
}

*::-webkit-scrollbar {
    display: none;
}

.movie_box:hover {
    transform: scale(1.08);
    transition: all 0.3s ease;
}